
/*style labels like the ones in the nav bar*/
.unreviewed-count-wrapper {
    display: inline-block;
    text-align: center;
    font-size: 11px;
    padding: 2px 3px;
    line-height: .9;
    margin-right: 1px;
}
.service-event-status-label {
    border-width: 2px !important;
    background-color: transparent !important;
    color: #000 !important;
    border-style: solid !important;
}
.service-event-status-label * {
    color: #000 !important;
}

.dropdown-menu, .select2-dropdown {
    box-shadow: 2px 6px 4px rgba(53, 124, 165, .25);
    border: 1px solid #bbb;
    border-radius: 0;
}
li.disabled {
    opacity: 0.6;
}
ul.dropdown-menu li > div {
    padding: 3px 20px;
}
ul.dropdown-menu li > div > i {
    margin-right: 10px;
}
.popover {
    box-shadow: 2px 6px 4px rgba(53, 124, 165, .25);
    max-width: 100%;
    color: #777;
}

.btn > a, .btn > a:hover {
    color: inherit;
}

li.indent {
    text-indent: -1em;
    padding-left: 2em;
}
.border-default {
    border-color: #d2d6de;
}
.border-primary {
    border-color: #3c8dbc;
}
.border-info {
    border-color: #00c0ef;
}
.border-warning {
    border-color: #f39c12;
}
.border-success {
    border-color: #00a65a;
}
.border-danger {
    border-color: #dd4b39;
}
.callout-custom {
    border-right: 1px solid #d2d6de;
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
}
.left-border {
    border-left-width: 1px;
    border-left-style: solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: normal;
    font-size: 12.025px;
    line-height: 18px;
}
.pre.grayed {
    border: 1px solid rgba(210, 214, 222, 0.5);
}
.callout-custom a {
    color: #3c8dbc;
    text-decoration: none;
}
.callout-custom a:hover {
    color: #72afd2;
}
.btn-fill {
    width: 100%;
    height: 100%
}
.white {
    color: white !important;
}
.red-bg {
    background-color: #dd4b39;
    color: #fff;
}
.box-pho-borders {
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
.box-red-borders {
    border-bottom: 1px solid #dd4b39;
    border-right: 1px solid #dd4b39;
    border-left: 1px solid #dd4b39;
}
.box-default-borders {
    border-bottom: 1px solid #d2d6de;
    border-right: 1px solid #d2d6de;
    border-left: 1px solid #d2d6de;
}

/* page loading */
.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .6 )
}
.loading-modal > .center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading-modal > .center > div {
    text-align: center;
}
body.loading {
    overflow: hidden;
}
body.loading .loading-modal {
    display: block;
}
.loading-logo {
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;

}
.box-small {
    margin: 4px;
}
.box-small .box-header {
    padding: 5px;
}
.box-small .box-header .box-title {
    font-size: 15px;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.parent-align-bottom {
    position: relative;
}
.align-bottom {
    position: absolute;
    bottom: 0;
}
.no-margin-top {
    margin-top: 0 !important;
}

.max-width-lg {
    max-width: 1200px;
    margin: auto;
}
.bg-dark-gray {
    background-color: #222d32;
    color: #b8c7ce;
}
.bg-light-gray {
    background-color: #eeeeee;
}
.bottom-0 {
    bottom: 0;
}
.border-bottom-1 {
    border-bottom: 1px solid #ddd;
}
.border-left-1 {
    border-left: 1px solid #ddd;
}
.border-right-none {
    border-right: none !important;
}
.border-none {
    border: none !important;
}

.border-d2d6de {
    border: 1px solid #d2d6de;
}
.border-f4f4f4 {
    border: 1px solid #f4f4f4;
}
.cursor-default {
    cursor: default;
}
.display-flex {
    display: flex;
}
.display-inline-block{
    display: inline-block;
}
.display-none {
    display: none;
}
.drop-shadow {
    box-shadow: 2px 6px 4px rgba(53, 124, 165, .25) !important;
    border: 1px solid #ddd;
}
.font-arial-black {
    font-family: "Arial Black"
}
.font-weight-bold {
    font-weight: bold;
}
.height-100 {
    height: 100%;
}
.left--5 {
    left: -5px;
}
.left--10 {
    left: -10px;
}
.margin-l-20 {
    margin-left: 20px;
}
.margin-r-3 {
    margin-right: 3px;
}
.margin-r-10 {
    margin-right: 10px;
}
.min-width-580 {
    min-width: 580px;
}
.align-top {
    vertical-align: top !important;
}
.display-inline-block {
    display: inline-block;
}
.text-overflow-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}
.white-space-nowrap {
    white-space: nowrap;
}
.width-200 {
    width: 200px;
}
.width-300 {
    width: 300px;
}
.width-400 {
    width: 400px !important;
}
.width-500 {
    width: 500px !important;
}
.min-width-50 {
    min-width: 50px;
}
.min-width-75 {
    min-width: 75px;
}
.min-width-100 {
    min-width: 100px;
}
.min-width-150 {
    min-width: 150px;
}
.min-width-200 {
    min-width: 200px;
}
.max-width-50 {
    max-width: 50px;
}
.max-width-75 {
    max-width: 75px;
}
.max-width-100 {
    max-width: 100px;
}
.max-width-300 {
    max-width: 300px;
}
.margin-0 {
    margin: 0;
}
.margin-10 {
    margin: 10px;
}
.margin-right-0 {
    margin-right: 0;
}
.margin-right-5 {
    margin-right: 5px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-right-20 {
    margin-right: 20px;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
.margin-bottom-1 {
    margin-bottom: 1px;
}
.margin-bottom-3 {
    margin-bottom: 3px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-left-2 {
    margin-left: 2px;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-left-15 {
    margin-left: 15px;
}
.margin-left-20 {
    margin-left: 20px;
}
.margin-top-1 {
    margin-top: 1px;
}
.margin-top-10 {
    margin-top: 10px;
}
.overflow-x-scroll {
    overflow-x: scroll;
}
.padding-0 {
    padding: 0;
}
.padding-10 {
    padding: 10px;
}
.padding-0-10 {
    padding: 0 10px;
}
.padding-6-12 {
    padding: 6px 12px;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
.padding-bottom-3 {
    padding-bottom: 3px;
}
.padding-bottom-8 {
    padding-bottom: 8px;
}
.padding-left-0 {
    padding-left: 0px;
}
.padding-left-5 {
    padding-left: 5px;
}
.padding-left-10 {
    padding-left: 10px;
}
.padding-right-0 {
    padding-right: 0px;
}
.padding-right-5 {
    padding-right: 5px;
}
.padding-right-10 {
    padding-right: 10px;
}
.padding-right-15 {
    padding-right: 15px;
}
.padding-right-30 {
    padding-right: 30px;
}
.padding-top-3 {
    padding-top: 3px;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-top-20 {
    padding-top: 20px;
}
.text-align-center {
    text-align: center;
}
.white-space-pre-wrap {
    white-space: pre-wrap;
}
#listable-table-issue_list > thead > tr > th,
#listable-table-issue_list > tbody > tr > td {
    width: 300px;
    max-width: 300px;
}
.hide-extra-text {
    text-overflow: ellipsis;
    word-wrap: none;
    overflow: hidden;
    white-space: nowrap;
}

.no-error {
    border-color: #d2d6de !important;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

.hover-parent:hover .hover-sub-primary {
    color: #3c8dbc !important;
}
.hover-parent:hover .hover-sub-info {
    color: #00c0ef !important;
}
.hover-parent:hover .hover-sub-danger {
    color: #dd4b39 !important;
}
.hover-parent:hover .hover-sub-warning {
    color: #f39c12 !important;
}
.hover-parent:hover .hover-sub-success {
    color: #00a65a !important;
}
.hover-parent:hover .hover-sub-default {
    color: #d2d6de !important;
}
.hover-parent:not(:hover) .hover-sub-not {
    color: inherit !important;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.preload * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
input.search_init {
    color: transparent !important;
}
.bottom-banner {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}
#control-sidebar-btn {
    text-align: center;
    min-width: 75px;
}
.text-display {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f4f4f4;
}
.height-100-40 {
    height: calc(100% - 40px);
}
.field-group-title {
    color: #777;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.border-error {
    /*border: 1px solid #dd4b39;*/
    /*border-collapse: collapse;*/
    outline: thin solid #dd4b39;
}
.subheading-divider {
    /*background-color: #e2e6ee;*/
    margin: 5px -10px;
    padding: 0 5px;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid #e2e6ee;
}
label,
.label,
table > thead > tr > th,
dt {
    font-weight: 600;
}
.label {
    border-radius: 2px;
}
.control-sidebar-heading {
    pointer-events: none;
}
table ul.multiselect-container.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
}
.rotate {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}
.rotates {
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
       -moz-transition:    -moz-transform 0.5s ease-in-out;
        -ms-transition:     -ms-transform 0.5s ease-in-out;
         -o-transition:      -o-transform 0.5s ease-in-out;
            transition:         transform 0.5s ease-in-out;
}
.table-custom-listable > thead > tr:nth-child(2) > th {
    color: transparent;
}
.table-custom-listable > thead > tr:nth-child(1) > th.sorting:hover,
.table-custom-listable > thead > tr:nth-child(1) > th.sorting_desc:hover,
.table-custom-listable > thead > tr:nth-child(1) > th.sorting_asc:hover {
    background-color: #e7e7e7;
}
.new-tab-link {
    padding-right: 0;
    vertical-align: top;
}
.new-tab-link i,
.new-tab-icon {
    vertical-align: top;
    transform: rotate(315deg);
}
