{% load qatrack_tags %}
{% load pm_tags %}
{% load qa_tags %}
{% for field in form %}
  {% if field.errors %}
    <tr class="no-hover qa-error row-{{ form.prefix }}">
        <td colspan="{% pm_table_colspan perms %}">
            <div class="error-container error-bar in">
                {% for error in field.errors %}
                    <div class="qa-error-text">
                        {{unit_task.task_object.name}}:&nbsp;{{ error }}
                    </div>
                {% endfor %}
            </div>
        </td>
    </tr>
  {% endif %}
{% endfor %}
<tr class="control-group qa-valuerow {%if unit_task.task_object.hidden %}hidden{% endif %} row-{{ form.prefix }}" data-prefix="{{ form.prefix }}">

  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% with task=unit_task.task_object %}
    <td class="qa-category bar-container">
        <div class="error-bar {% if form.errors %}in{% endif %}">
            <div class="procedure-bar">
                <div class="comment-bar">
                    <div title="{{task.category.name}}" class="padding-left-5 padding-bottom-8">
                      {{task.category.name}}
                    </div>
                </div>
            </div>
        </div>
    </td>
    <td class="qa-name qa-showproc">
      {%if task.procedure or task.description%}
            <a href="#" class="revealprocedure" title="Show/hide procedure">{{task.name}}</a>
        {% else %}
            {{task.name}}
        {% endif %}
    </td>
    <td class="qa-value" title="{{form.value.help_text|safe}}" >
        <div class="row">
            <div class="col-xs-6">{{form.value.0}}</div>
            <div class="col-xs-6">{{form.value.1}}</div>
        </div>
    </td>
    <td class="qa-showcmt"><a href="#" class="revealcomment" title="Add comment for this task"><i class="fa fa-commenting-o"></i></a></td>
    {% if perms.service_log.can_view_history %}
      <td class="qa-history">
          {% history_display form.history ut.unit task unit_task.frequency %}
      </td>
    {% else %}
      <td></td>
    {% endif %}
  {% endwith %}
</tr>
<tr class="qa-comment no-hover row-{{ form.prefix }}">
    <td colspan="{% qa_table_colspan perms %}" class="">
        <div class="error-bar {% if form.errors %}in{% endif %}">
            <div class="procedure-bar">
                <div class="comment-container comment-bar">
                    <div class="comment-div">
                        {{ form.comment|addplaceholder:"Add Comment For Reviewer" }}
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
<tr class="qa-procedure no-hover row-{{ form.prefix }}">
    <td colspan="{% qa_table_colspan perms %}  class="" >
        {% if form.unit_task.task.procedure or form.unit_task.task.description %}
            <div class="error-bar {% if form.errors %}in{% endif %}">
                <div class="procedure-container procedure-bar">
                    <div class="qa-procedure-text">
                        {% if form.unit_task.task.procedure %}
                            <h6>
                                Detailed procedure link:
                                <a href="{{form.unit_task.task.procedure}}" class="revealprocedure" title="Show detailed procedure for this task" target="_blank">
                                    {{form.unit_task.task.name}}
                                </a>
                            </h6>
                        {% endif %}
        {#                {% spaceless %}#}
                            {% if form.unit_task.task.description %}
                                <div class="pre">{{form.unit_task.task.description.strip|safe}}</div>
                            {% endif %}
        {#                {% endspaceless%}#}

                    </div>
                </div>
            </div>
        {% endif %}

    </td>
</tr>
