{% extends "site_base.html" %}

{% load pm_tags %}
{% load qa_tags %}
{% load qatrack_tags %}
{% load comments %}

{% block head_title %}{% spaceless %}

    {% if task_instance %}
        Edit {{task_instance.unit_task.unit.name}} : {{task_instance.task.name}}
    {% else %}
        Perform {{unit_task.unit.name}} : {{task.name}}
    {% endif %}
{%endspaceless%}{% endblock %}

{% block extra_css %}

{#    <link href="{{ STATIC_URL }}daterangepicker/css/daterangepicker.css?v={{ VERSION }}" rel="stylesheet">#}
{#    <link href="{{ STATIC_URL }}qatrack_core/css/custom-daterangepicker.css?v={{ VERSION }}" rel="stylesheet">#}
    <link href="{{ STATIC_URL }}qatrack_core/css/tables.css?v={{VERSION}}" rel="stylesheet">
    <link href="{{ STATIC_URL }}qa/css/qa.css?v={{VERSION}}" rel="stylesheet">
    <link href="{{ STATIC_URL }}icheck/css/blue.css?v={{VERSION}}" rel="stylesheet">
    <link href="{{ STATIC_URL }}qatrack_core/css/sidebar.css?v={{VERSION}}" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/css/select2.min.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}qatrack_core/css/custom-select2.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}flatpickr/css/flatpickr.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}qatrack_core/css/flatpickr-custom.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}cheekycheck/css/cheekycheck.css?v={{ VERSION }}" rel="stylesheet">

{% endblock extra_css %}
{% block extra_js %}
    <script type="text/javascript">
        var unit_task_info = {{unit_task_info|safe}};
        var editing_tli = {{ task_instance.pk|default:"0"}};
        var override_date = false;
        {% if perms.qa.can_override_date %}
            override_date = true;
        {% endif %}
{#        var status_colours_dict = {{ status_tag_colours|safe }};#}
{#        var se_statuses = {{ se_statuses|safe }};#}
        var unit_id = {{ unit_task.unit.id }};
        {% if task_instance.work_completed %}
            var work_completed_initial = "{{ task_instance.work_completed|safe }}";
        {% else %}
            var work_completed_initial = null;
        {% endif %}
        {% if task_instance.work_started %}
            var work_started_initial = "{{ task_instance.work_started|safe }}";
        {% else %}
            var work_started_initial = null;
        {% endif %}
    </script>
{% endblock %}

{% block require_javascript %}
    require(['qa'], function() {
        {{ task.javascript.strip|safe }}
        $('body').removeClass("loading");
    });
{% endblock require_javascript %}

{% block body_class %}sidebar-mini sidebar-collapse loading{% endblock body_class %}

{% block sidebar_toggle %}
    <a href="#" class="sidebar-toggle pull-left" data-toggle="offcanvas" role="button">
        <i id="toggle-icon" class="fa fa-chevron-right fa-lg rotates" aria-hidden="true"></i>
    </a>
{% endblock sidebar_toggle %}

{% block body %}
    <form class="nosubmit form-inline" id="qa-form" method="POST" action="" autocomplete="off" enctype="multipart/form-data" >
        {% csrf_token %}
        {% if task.description or unit_task.task_object.description %}
            <div id="box-description" class="row" style="display: none;">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">
                                <span class="fa fa-stack fa-fw" aria-hidden="true">
                                    <i class="fa fa-file-text-o fa-stack-custom-main"></i>
                                    <i class="fa fa-info fa-stack-custom-sub info"></i>
                                </span>
                                Description
                            </h3>
                        </div>
                        <div class="box-body">
                            {% spaceless %}
                                <div class="col-sm-12 pre text-display">
                                    <div>{{task.description.strip|safe}}</div>
                                </div>
                            {% endspaceless %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if form.errors %}
        <div class="row">
          <div class="col-sm-12">
            <ul class="alert alert-error">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>
                      {% if field != '__all__' %}
                        <strong>{{ field.label }}:</strong>
                      {% endif %}
                      {{ error }}
                    </li>
                {% endfor %}
            {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
        {% if perms.qa.can_review and perms.qa.can_review_own_tests or perms.qa.can_override_date %}
            <div class="col-sm-{{ top_divs_span }}">
                <div id="box-admin" class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            Admin Options
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12 form-horizontal">
                                <div class="row {% if form.work_started.errors %} has-error{% endif %}">
                                    <label for="id_work_started" class="col-md-5">
                                        {{form.work_started.label}}:
                                    </label>
                                    <div class="col-md-7">
                                        {{form.work_started}}
                                        <i id="clear-work_started" class="fa fa-refresh fa-in-input datetime-clear"></i>
                                    </div>
                                    {% for e in form.work_started.errors %}
                                        <div class="col-sm-12 help-block text-center">{{ e }}</div>
                                    {% endfor %}
                                </div>

                                {% if perms.qa.can_override_date %}
                                    <div class="row">
                                        <label for="id_work_duration" class="col-md-5">
                                            Work duration:
                                        </label>
                                        <div class="col-md-7">
                                            <input id="id_work_duration" name="work_duration" class="form-control">
                                            <i class="fa fa-clock-o fa-in-input"></i>
                                        </div>
                                    </div>

                                    <div class="row{% if form.work_completed.errors %} has-error{% endif %}">
                                        <label for="id_work_completed" class="col-md-5">
                                            {{form.work_completed.label}}:
                                        </label>
                                        <div class="col-md-7">
                                            {{form.work_completed}}
                                            <i id="clear-work_completed" class="fa fa-times fa-in-input datetime-clear"></i>
                                        </div>
                                        {% for e in form.work_completed.errors %}
                                            <div class="col-sm-12 help-block text-center">{{ e }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="display-none">{{ form.work_started }}</div>
        {% endif %}

        <div id="box-perform" class="row">
            <div class="col-sm-12">
                <div class="box box-pho-borders">

                    <div class="box-header">
                        <div class="row">
                            <div class="col-sm-6">
                                {% if task_instance %}
                                    <i class="fa fa-pencil-square-o box-title" aria-hidden="true"></i>
                                    <h3 class="box-title">Edit {{tsk_instance.unit_task.unit.name}} : {{task_instance.task.name}}</h3>
                                {% else %}
                                    <i class="fa fa-pencil-square-o box-title" aria-hidden="true"></i>
                                    <h3 class="box-title">Perform {{unit_task.unit.name}} : {{task.name}}</h3>
                                {% endif %}
                            </div>

                            <div class="col-sm-6">
                                {% if task.warning_message %}
                                    <h3 class="do-not-treat box-title pull-right">
                                        <i class="fa fa-exclamation"></i>
                                        <strong>{{task.warning_message}}</strong>
                                    </h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>



                    {% if test_list.warning_message %}
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3 class="do-not-treat box-title pull-right">
                                        <i class="fa fa-exclamation"></i>
                                        <strong>{{test_list.warning_message}}</strong>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="box-body">

            <div class="row">
                <div class="col-sm-12">

                    <input type="hidden" id="test-list-id" value="{{task.pk}}"/>
                    <input type="hidden" id="test-list-name" value="{{task_object.name}}"/>
                    <input type="hidden" id="unit-id" value="{{unit_task.unit.pk}}"/>
                    <input type="hidden" id="unit-number" value="{{unit_task.unit.number}}"/>
                    <input type="hidden" id="require-comment-on-skip" value="{% if perms.qa.can_skip_without_comment %}no{% else %}yes{% endif %}"/>

                    {% if formset.non_form_errors %}
                        <div class="alert-message error">
                            {% for error in formset.non_form_errors %}
                                <span class="alert-error help-block-inline">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {{formset.management_form}}

                    <table id="perform-qa-table" class="qa-table table table-bordered table-responsive table-condensed">
                        <thead>
                            <tr>
                                <th class="qa-category">Category</th>
                                <th class="qa-showproc qa-name">Name</th>
                                <th class="qa-value" width=100>Value</th>
                                <th class="qa-showcmt">Comment</th>
                                {% if perms.qa.can_view_ref_tol or perms.qa.can_view_history %}
                                    {% if perms.qa.can_view_history %}
                                        <th class="qa-history">History<br/>
                                            {% for d in history_dates %}
                                                <span class="label history-label" title="{{d}}">{{d|date:"dMy"}}</span>
                                            {% endfor %}
                                        <div></div></th>
                                    {% endif %}
                                {% else %}
                                    <th>&nbsp;<div></div></th>
                                {% endif %}
                            </tr>
                        </thead>
                        {% pm_value_form form task perms task_info=task_form.get_task_info unit_task=unit_task %}
                    </table>

                    <div class="row">
                        <div class="col-sm-12">

                            <button id="submit-qa" type="submit" class="btn btn-primary btn-flat margin-r-5 pull-right">Submit PM Results</button>

{#                            <a id="toggle-gen-comment" class="btn btn-default btn-flat pull-right margin-r-5" href="#!" title="Click here to add a general comment about this set of tests">Add Comment</a>#}

                            <div class="pull-right margin-r-5">
                                {% if perms.qa.can_save_in_progress %}
                                <label title="{{form.in_progress.help_text}}" for="id_in_progress" class="add-on" style="display: none;">
                                    Mark this list as still in progress:
                                </label>
                                {{form.in_progress}}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>



{% endblock %}

{% block main_sidebar %}
    <aside class="main-sidebar">

        <section class="sidebar">

            <ul class="sidebar-menu">

                <li class="header">Task Menu</li>

                {% if task.description or unit_task.task_object.description %}
                    <li class="primary toggle-element" data-toggle="description"><a id="toggle-description" href="#!">
                        <i class="fa fa-stack fa-fw" aria-hidden="true">
                            <i class="fa fa-file-text-o fa-stack-custom-main"></i>
                            <i class="fa fa-info fa-stack-custom-sub info"></i>
                        </i>
                        <span>Description</span>
                    </a></li>
                {% endif %}

                {% if perms.qa.can_review and perms.qa.can_review_own_tests or perms.qa.can_override_date %}
                    <li title="Toggle admin options visibility" class="primary toggle-element active" data-toggle="admin"><a id="toggle-options" href="#!">
                        <i class="fa fa-unlock-alt fa-fw" aria-hidden="true"></i>
                        <span>Admin Options</span>
                    </a></li>
                {% endif %}


                <li title="Toggle comments visibility" class="primary toggle-element active" data-toggle="comments"><a id="toggle-options" href="#!">
                    <i class="fa fa-commenting-o fa-fw" aria-hidden="true"></i>
                    <span>Comments</span>
                </a></li>

                {# Category selection #}
                {% if perms.qa.can_perform_subset and categories|length > 1 %}
                    <li class="treeview">
                        <a id="menu-categories" href="#!">
                            <i class="fa fa-tags fa-fw" aria-hidden="true"></i>
                            <span>Categories</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul id="category-list" class="treeview-menu" style="display: none;">
                            <li><a {% comment %}id="category-showall"{% endcomment %} class="has-icheck row" href="#!">
{#                                <i class="fa fa-circle-o success"></i>#}
                                <input id="category-showall" class="iCheck" type="checkbox" checked="checked">
                                <label for="category-showall">Show All</label>
                            </a></li>

                            {% for category in categories %}
                                <li><a class="has-icheck row" href="#!">
                                    <input id="category-{{ category.pk }}" class="iCheck check-category" type="checkbox" checked="checked">
                                    <label for="category-{{ category.pk }}">{{ category.name }}</label>
                                </a></li>
                            {% endfor %}

                        </ul>
                    </li>
                {% endif %}

                <li class="divider"></li>

                {% if in_progress %}
                  <li class="divider"></li>
                  <li class="treeview">
                    <a id="menu-days" href="#!">
                      <i style="color: #f39c12;" class="fa fa-play fa-fw" aria-hidden="true"></i>
                      <span>In Progress</span>
                      <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul id="in-progress-list" class="treeview-menu" style="display: none;">
                      {% for ip in in_progress %}
                        <li>
                          <a title="Resume session saved by {{ ip.created_by }}" class="row" href="{% url 'continue_tli' pk=ip.pk %}?{{ request.GET.urlencode }}">
                            {{ ip.created }}
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}

            </ul>

        </section>

    </aside>
{% endblock main_sidebar %}

{% block loading_modal %}
    <div class="loading-modal ">
        <div class="center">
            <div>
                <span class="loading-logo">QAT</span>
                <i class="fa fa-fw fa-plus fa-spin fa-2x info"></i>
            </div>
            <div>
                <b>
                {% if task_instance %}
                    Loading {{task_instance.unit_task.unit.name}} : {{task_instance.task.name}}
                {% else %}
                    Loading {{unit_task.unit.name}} : {{task.name}}
                {% endif %}
                </b>
            </div>

        </div>
    </div>
{% endblock loading_modal %}

{% block end_body_extra_script %}

{% endblock %}
