{% extends "site_base.html" %}
{#{% load staticfiles %}#}
{% block require_javascript %}
{#    require(['report']);#}
{% endblock require_javascript %}

{% block head_title %}Choose Unit{% endblock %}

{% block body %}


        {% if not split_sites %}
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <i class="fa fa-cube" aria-hidden="true"></i>
                            <h3 class="box-title">Choose a Unit to Perform PM Task On</h3>
                            <p>Click a button to perform QA for one of the units below.</p>
                        </div>
                        <div class="box-body pad">
                            {% for unit_type, units in unit_types%}

                                <div class="row margin">
                                    <div class="span12">

                                        <h4 class="header-spacer">{{unit_type}}</h4>
                                        {% for unit in units %}

                                            {% if not perms.qa.can_choose_frequency %}
                                              <a class="btn btn-default btn-flat" href="{% url "pm_by_unit" unit_number=unit.unit__number %}" title="Click to view all QA for Unit {{ unit.unit__number }}">
                                                {{unit.unit__name}}
                                              </a>
                                            {% else %}
                                                <div class="btn-group btn-default btn-flat"{% comment %} style="float:left"{% endcomment %}>
                                                    <a class="btn btn-default btn-flat" href="{% url "pm_by_unit" unit_number=unit.unit__number %}" title="Click to view all QA for Unit {{ unit.unit__number }}">{{unit.unit__name}}</a>
                                                    <!-- <div class="btn-group btn-default btn-flat">
                                                        <button class="btn btn-default btn-flat dropdown-toggle" data-toggle="dropdown">
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            {% for freq in unit.frequencies %}
                                                            <li>
                                                              <a href="{% url "qa_by_frequency_unit" frequency=freq.slug unit_number=unit.unit__number %}" title="Click to view all {{freq.name}} QA for Unit {{ unit.unit__number }}">{{unit.unit__name}} &mdash; {{freq.name}}</a>
                                                            </li>
                                                            {% endfor %}
                                                            <li>
                                                                <a href="{% url "qa_by_frequency_unit" frequency="ad-hoc" unit_number=unit.unit__number %}" title="Click to view all Ad-Hoc QA for Unit {{ unit.unit__number }}">{{unit.unit__name}} &mdash; <em>Ad-Hoc</em></a>
                                                            </li>
                                                        </ul>
                                                    </div> -->
                                                </div>
                                            {% endif %}

                                        {% endfor %}
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                        <div class="box-footer"></div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <h4><i class="fa fa-cube" aria-hidden="true"></i>Choose a Unit to Perform a PM Task On</h4>
                    <p>Click a button to perform a PM task for one of the units below.</p>
                </div>
            </div>
            <div class="row">
                {% for site, types in unit_types.items %}
                    <div class="col-md-{{ split_by }}">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">{% if site == 'zzzNonezzz' %}Other{% else %}{{ site }}{% endif %}</h3>
                            </div>
                            <div class="box-body pad">
                                {% for type, units in types %}

                                    <div class="row margin">
                                        <div class="span12">

                                            <h4 class="header-spacer">{{ type }}</h4>
                                            {% for unit in units %}

                                                {% if not perms.qa.can_choose_frequency %}
                                                    <a class="btn btn-default btn-flat" href="{% url "pm_by_unit" unit_number=unit.unit__number %}">{{unit.unit__name}}</a>
                                                {% else %}
                                                    <div class="btn-group btn-default btn-flat margin-bottom-3"{% comment %} style="float:left"{% endcomment %}>
                                                        <a class="btn btn-default btn-flat pull-left" href="{% url "pm_by_unit" unit_number=unit.unit__number %}">{{unit.unit__name}}</a>
{#                                                        <div class="btn-default btn-flat">#}
                                                        <button class="btn btn-default btn-flat dropdown-toggle pull-right" data-toggle="dropdown">
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu">
                                                            {% for freq in unit.frequencies %}
                                                                <li>
                                                                    <a href="{% url "qa_by_frequency_unit" frequency=freq.slug unit_number=unit.unit__number %}">{{unit.unit__name}} &mdash; {{freq.name}}</a>
                                                                </li>
                                                            {% endfor %}
                                                            <li>
                                                                <a href="{% url "qa_by_frequency_unit" frequency="ad-hoc" unit_number=unit.unit__number %}">{{unit.unit__name}} &mdash; <em>Ad-Hoc</em></a>
                                                            </li>
                                                        </ul>
{#                                                        </div>#}
                                                    </div>
                                                {% endif %}

                                            {% endfor %}
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                            <div class="box-footer"></div>
                        </div>
                    </div>

                {% endfor %}
            </div>

        {% endif %}
{% endblock %}
